/* In AnalyticsPage.module.css */

.analyticsPage {
    padding: 20px;
}

.headerLarge {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.analyticsContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.analyticsSection {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.analyticsSection h3 {
    margin-bottom: 10px;
}

.analyticsSection p {
    margin: 0;
    font-size: 1.2em;
}
