.view-forms-admin-page {
    width: 75vw;
    max-width: 1200px;
    padding: 50px;
    margin: 60px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 120px);
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.forms-containerz {
    width: 105%;
    max-height: 700px;
    overflow-y: auto;
    /* padding-right: 10px; */
    /* border: 1px solid #dee2e6; */
    border-radius: 4px;
    box-sizing: border-box;
}

@media screen and (max-width: 480px) {
    .forms-containerz {
        width: 140%;
    }

}

.forms-containerz h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-item {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 0px;
    /* cursor: pointer; */
    transition: background-color 0.3s;
}

p {
    text-align: center;
    color: #27021c;
}

.form-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}

.form-item {
    flex-grow: 1;
    background-color: #76a5d0;

}

.edit-form-button {
    margin-left: 5px;
    background-color: #7a698c;
    transition: all 0.3s ease;
    border: none;
    color: white;
}

.edit-form-button:hover {
    background-color: #27021c;
    color: white;
}

.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
}

.form-groupz {
    margin-bottom: 15px;
}

.form-groupz label {
    display: block;
    margin-bottom: 5px;
}

.form-groupz input,
.form-groupz textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.customBtn {
    width: 25% !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

.customBtns {
    background-color: #7a698c;
    width: 40% !important;
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    transition: all 0.3s ease;
    border: none;
}

.customBtns:hover {
    background-color: #27021c;
    color: white;
}

.question-group {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    margin-bottom: 10px;
}

.logout-button {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #ff1a1a;
}

.create-form-button {
    background-color: #76a5d0;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.create-form-button:hover {
    background-color: #7a698c;
    color: white;
}

/* Navigation Bar Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar .navbar-brand {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 1.5em;
}

.navbar .navbar-links li {
    display: inline;
}

.navbar .navbar-links a {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-links a:hover {
    text-decoration: underline;
}

.view-forms-admin-page {
    margin-top: 60px;
}

.search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}