.view-forms-admin-page {
    width: 75vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.search-input {
    width: 70%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black;
    box-sizing: border-box;
}

.create-form-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-form-button:hover {
    background-color: #0056b3;
}

.forms-containerz {
    width: 100%;
}

.forms-containerz h2 {
    margin-bottom: 10px;
}

.form-item {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-item:hover {
    background-color: #e9ecef;
}

p {
    text-align: center;
    color: #6c757d;
}

.form-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.form-item {
    flex-grow: 1;
    cursor: pointer;
}

.edit-form-button {
    margin-left: 10px;
}

.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
}

.form-groupz {
    margin-bottom: 15px;
}

.form-groupz label {
    display: block;
    margin-bottom: 5px;
}

.form-groupz input,
.form-groupz textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.customBtn{
    width: 25% !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

.customBtns{
    width: 40% !important;
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

.question-group{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    margin-bottom: 10px;
}

.logout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    float: right;
}

.logout-button:hover {
    background-color: #ff1a1a;
}
