/* General page styling */
.grades-page-container {
    padding: 4vh;
    width: 80vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: #27021c; /* Use white text */
    max-width: 1400px;
    max-height: 1400px;
    margin: 0 auto;
    margin-top: 30px;
}

/* Header styling */
.grades-page-container h1 {
    text-align: center;
    margin-bottom: 0px;
    color: #27021c; /* Silver Lake Blue */
    font-size: 2em;
    font-weight: 600;
}

/* Assignment Selector styling */
.assignment-selector-container {
    margin-bottom: 20px;
    text-align: center;
}

.assignment-selector-label {
    margin-right: 0px;
    font-size: 18px;
    color: #27021c; /* Ruddy Blue */
    font-weight: 500;
}

.assignment-selector-select {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    background-color: #76A5D0; /* Lapis Lazuli */
    color: white;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.assignment-selector-select:focus {
    border-color: #6E8FBA; /* Silver Lake Blue */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

/* Table styling */
.grades-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 80px;
    background-color: #7A698C; /* Chinese Violet */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* border-radius: 8px; */
}

.grades-table th, .grades-table td {
    padding: 3px 20px;
    text-align: left;
    border: 1px solid #27021c;
}

.grades-table th {
    background-color: #6E8FBA; /* Silver Lake Blue */
    color: white;
    font-weight: 600;
}

.grades-table tr:nth-child(even) {
    background-color: #6578A4; /* Glaucous */
}

.grades-table tr:hover {
    background-color: #76A5D0; /* Ruddy Blue */
}

.grades-table td {
    color: white;
}

/* Section headers styling */
.average-ratings-header,
.completion-data-header {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #27021c; /* Silver Lake Blue */
    font-size: 1.5em;
    /* font-weight: 600; */
    border-bottom: 2px solid #E6E6FA;
    /* padding-bottom: 10px; */
}

/* Pagination controls styling */
.pagination-controls-container {
    text-align: center;
    margin-top: 20px;
}

.pagination-controls-button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    color: white;
    background-color: #6E8FBA; /* Silver Lake Blue */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.pagination-controls-button:disabled {
    background-color: #B0C4DE;
    cursor: not-allowed;
}

.pagination-controls-button:hover:not(:disabled) {
    background-color: #6578A4; /* Glaucous */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pagination-controls-span {
    font-size: 16px;
    color: white;
}

/* Button styling */
.btn-primary-custom {
    background-color: #6E8FBA; /* Silver Lake Blue */
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;

    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary-custom:hover {
    background-color: #27021c; /* Glaucous */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Media query for responsiveness */
@media (max-width: 750px) {
    .grades-page-container {
        width: 100%;
        padding: 2vh;
    }

    .grades-table {
        font-size: 0.9rem;
    }

    .pagination-controls-button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .btn-primary-custom {
        padding: 8px 16px;
        font-size: 14px;
    }
}
