.review-page {
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 80vw; /* Adjusted width to 80% */
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.review-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center; /* Centered the text */
}

.back-button {
    align-self: flex-start;
    margin-bottom: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.review-title {
    font-size: 28px;
    margin-bottom: 5px;
    color: #333;
}

.review-target {
    font-size: 18px;
    margin-bottom: 15px;
    color: #666;
}

.review-details {
    display: flex;
    flex-direction: column; /* Changed to column for stacking */
    gap: 5px; /* Added gap for spacing */
    font-size: 14px;
    margin-bottom: 20px;
    padding: 0 20px; /* Added padding for better spacing */
}

.review-questions {
    margin-top: 20px;
}

.review-question {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.review-question h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #444;
}

.rating {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.star {
    font-size: 24px;
    color: grey;
}

.star.selected {
    color: gold;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    border-radius: 8px;
}

.submit-button:hover {
    background-color: #0056b3;
}

.status-completed {
    color: green;
    font-weight: bold;
}

.status-pending {
    color: red;
    font-weight: bold;
}

.temp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 80%;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}