.createFormPage {
    width: 40vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: white; */
    padding: 50px;
    border-radius: 20px;
    position: relative;
}

.bold{
    color: white;
}

.formGroup {
    /* width: 100%; */
    margin-bottom: 20px;
    color: black;
}

.formControl {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: black !important;
}

.options {
    display: flex;
    flex-direction: column;
}

.fieldGroup {
    display: flex;

    margin-bottom: 10px;
}

.field-group input {
    margin-bottom: 5px;
}

.field-group .btn-danger {
    width: fit-content;
}

.btn {
    /*padding: 10px 20px;*/
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    /* color: white; */
    margin-top: 10px;
}

.btn-danger {
    background-color: #dc3545;
    /* color: white; */
}

.btn-success {
    background-color: #28a745;
    /* color: white; */
    width: fit-content;
    align-self: flex-end;
    margin-top: 20px;
}

.removeButton{
    width: 20vh !important;
    margin-left: 5px;
    margin-right: 5px;
}

.addButton{
    width: 20vh !important;
    margin-left: 0px;
}

@media screen and (max-width: 485px) {
    .fieldGroup {
        display: block;
        justify-content: center;
        align-items: center;
    }
    .addButton {
        width: 50%;
        margin: 0%;
        margin-top: 5px;
    }
    .removeButton {
        width: 40%;
        margin: 0%;
    }
    .createFormPage{
        width: 90vw;
    }
}