/* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: white;
} */

.header-large {
    font-size: 5vh !important;
    font-weight: bold !important;
    width: 100% !important;
    text-align: center !important;
    /*background color transparent*/
    background-color: rgba(255, 255, 255, 0) !important;
    color: white !important;
}

.dash-logo {
    width: 250px;
}

.dash-buttons {
    display: none;
}



@media (min-width:470px) {
    .dash-buttons {
        display: flex;
    }

    .dash-menu {
        display: none;
    }
}

h2{
    font-size: 2.5vh;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-contain {
    height: 100%;
}

.workspace-cards {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    /* Adjust min width as needed */
    /* gap: 20px;
    width: 100%; */
    height: 100%;
    padding: 25px;
}

.workspace-card {
    background-color: white;
    padding: 16px;
    cursor: pointer;
    transition: box-shadow 0.3s;
    margin-bottom: 10px;
    color: black;
    height: 20vh;
    width: 798px;
}

.dash-dropdown .dash-content {
    display: none;
    position: absolute;
    min-width: 100px;
}

.dash-dropdown:focus .dash-content {
    display: block;

}

.collapse.show {
    visibility: visible;
}


@media (min-width: 1024px) {
    .workspace-card {
        width: 962px;
    }

    .workspaces-name {
        margin-left: 50px;
    }
}

@media (min-width: 1280px) {
    .workspace-card {
        width: 80%;
    }
}

.workspace-card:hover {
    transform:translateY(-2px);
}

.logout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    float: right;
}

.logout-button:hover {
    background-color: #ff1a1a;
}

.navbar {
    display: flex;
    justify-content: space-between;
}


